{{ define "main" }}
  <article class="page post">
    <header class="post-header">
      <h1>{{ .Title }}</h1>
      {{ if and .Date (ne .Type "page") }}
        <time class="post-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
      {{ end }}
      {{ with .Params.tags }}
        <div class="tags">{{ range . }}<span class="tag">{{ . }}</span>{{ end }}</div>
      {{ end }}
    </header>
    <div class="content">
      {{ .Content }}
    </div>
  </article>
{{ end }}
